body{
    color: da;
    background-color: #FDFDFD;
    margin: 0;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

header{
    color: rgb(239, 174, 143);
    background-color:sienna;
    padding: 20px;
    font-family: cursive;
    position: relative;
    font-size: x-large;
    
    
}

.info{
   
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    text-align: center;
    display: block;
}

.homeloginsignup{
    color: sienna;
    background-color: white;
    position: absolute;
    right: 20px;
    top: 15px;
    box-shadow: 5px 5px black;
    padding: 10px;
    border-radius: 5px;
    cursor:pointer;

}

.homeloginsignup:hover{
    color: red;
    background-color: maroon;
    cursor: pointer;
    box-shadow: 5px 5px black;
    transition: 0.5s;
}

.backbtn{
    color: maroon;
    background-color: white;
    position: absolute;
    right: 20px;
    top: 15px;
    box-shadow: 5px 5px black;
    padding: 10px;
    border-radius: 5px;
    cursor:pointer;


}

.backbtn:hover{
     color: red;
    background-color: maroon;
    cursor: pointer;
    box-shadow: 5px 5px black;
    transition: 0.5s;

}

.dashboard{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin: 40px;
    margin-top: 100px;
    font-size:xx-large;
    font-family: monospace;

   

}

.dashbox{
    background-color: wheat;
    border: 1px solid maroon;
    border-radius: 10px;
    padding: 40px 20px;
    box-shadow: 5px 5px grey;
    cursor: pointer;
    transition: 0.5s;

}

.dashbox:hover{
    background-color: maroon;
    color: red;
    transition: 0.5s;
    box-shadow: 5px 5px grey;

}

.signupcontainer{
    border: 1px solid sienna;
}

form{
    background-color: white;
    border:1px solid  sienna;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    margin: 30px auto;
    box-shadow: 5px 5px grey;


}
form label{
    display: block;
    margin-top: 10px;
    text-align: center;
   

}

form input, form select, form textarea{
    width: 98%;
    padding: 10px;
    margin: 3px;
    border-radius: 5px;
    border: 1px solid sienna;

}

form button{
    margin-top: 20px;
    color: white;
    background-color: sienna;
    border: none;
    padding: 10px;
    width:100%;
    border-radius: 5px;
    cursor: pointer;

}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px;

}

.aboutleft img{
    border-radius: 10px;
    margin-right: 30px;
    width: 20vw;
    border-radius: 15vw;
    
}

.signupcontainer{
    background-color: white;
    border-radius: 10px;
    max-width: 400px;
    margin: 50px auto;
    padding: 30px;
    box-shadow: 5px 5px grey;

}
.logincontainer{
    background-color: white;
    border-radius: 10px;
    max-width: 400px;
    margin: 50px auto;
    padding: 30px;
    box-shadow: 5px 5px grey;
    border: 1px solid sienna;


}

.reviewcard{
    background-color: white;
    margin: 15px auto;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px grey;
    max-width: 500px;
}

footer img{
    border: 1px solid sienna;
    height: 80px;
    width: 80px;
    border-radius: 40px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}


